@media screen and (max-width: 600px) {
    body{
        position: relative;
        overflow-x: hidden;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
    .nav-items{
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        background: #3b3b3be7;
        padding: 30px;
        flex-direction: column;
        border-radius: 30px;
        transform: translateX(120%);
        /* transform: scale(0); */
        transition: 0.5s;
        /* transform-origin: right top; */
        /* display: none; */
    }
    .show{
        transform: translate(0);
        /* transform: scale(1); */
        /* display: block; */
    }
    .banner-content{
        width: 100%;
        padding-left: 40px;
        padding-left: 40px;
    }

    /* sections */
    section{
        padding: 50px 0;
    }

    /* about section */
    .about-section{
        flex-direction: column-reverse;
        gap: 20px;
    }

    .about-image{
        margin-top: 40px;
    }

    /* menu section */
    .menu-section{
        flex-direction: column;
        gap: 20px;
    }

    .info-section{
        flex-direction: column-reverse;
        gap: 20px;
    }

    .contact-container{
        grid-template-columns: 1fr;
    }

    .row{
        grid-template-columns: 1fr;
    }
}